body {
	margin:0;
}
.tac{
  text-align: center;
}
.tal{
  text-align: start;
}
.intoduction{
  position: absolute;
  top: 47%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  font-weight:600;
  line-height: 1.4;
  p{
    font-family: "Dancing Script",;
    font-size: 1.5em;
  }
}
.heading{
  z-index: 100;
  background-image: linear-gradient(43deg,#4158d0 0%,#c850c0 46%,#ffcc70 100%);
  background-clip:text;
  color: transparent;
  font-size:3em;
  font-family: "Dancing Script", cursiv52
}
.other-head{
  z-index: 100;
  background-image: linear-gradient(43deg,#4158d0 0%,#c850c0 46%,#ffcc70 100%);
  background-clip:text;
  color: transparent;
  text-align: center;
  font-size:3em;
  font-family: "Dancing Script", cursiv52
}
.mb{
  margin-bottom: 1.5em;
}
.main {
  width:100%;
  height:100vh;
  // background:#fff;
  padding: 0;
  // border-radius:30px;
  position: relative;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: invert(1) hue-rotate(180deg);
  clip-path: circle(var(--path) at 50% 50%);
  background: rgb(32 18 100/85%);;
  z-index: -1;
  // border-radius: 25px;

}
.bg-image{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  max-width:250px;
}
.headline {
	background:#2D4E86;
	border-radius:6px;
	height:4em;
	width:100%;
}

.text {
	margin:0.8em 0 0 0;
	background:#2D4E86;
	border-radius:6px;
	height:1em;
	width:100%;
}




.gallery {
  display:flex;
  // outline:1px solid red;
  &__container{
    display: flex;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
}

.left {
	width:50%;
}

.detailsWrapper {
	margin:auto;
	width:80%;
}

.details {
	height:100vh;
	// outline:1px solid green;
	display:flex;
	flex-direction:column;
	justify-content:center;
  p{
    font-family: "Dancing Script", cursiv52;
    font-size:24px
  }
}


.right {
	// outline:1px solid purple;
	width:50%;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.photos{
  width:30vw;
  height:30vw;
  background-image:url('../assets/image/first-image.png');
  position: relative;
  overflow: hidden;
  border-radius:15px;
}
.first-image{
  background-image:url('../assets/image/first-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second-image{
  background-image:url('../assets/image/second-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo{
  position:absolute;
  width:100%;
  height:100%;
}
.blue {
	background:blue;
}
.green{
	background:green;
}
.red {
	background:red;
}
.menu-icon{
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  display: flex;
justify-content: center;
  top:20px;
  right:20px;
  z-index: 100;
}
.arrow{
margin-top:20px;
background: #fff;
width: 35px;
height: 35px;
border-radius: 50%;
display: flex;
justify-content: center;
animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes bounce {
  50% {
      transform: translateY(-10px);
    }
  }


// menu-styling
.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  clip-path: circle(var(--clip) at 100% 0);
  pointer-events: none;
}

.overlay-menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.overlay-menu ul li {
  margin: 20px 0;
}

.overlay-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-family: "Dancing Script", cursiv52
}

.overlay-menu ul li a:hover {
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  background-clip: text;
  color: transparent;
}

.close{
background: #fff;
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
position: fixed;
top:20px;
right:20px;
z-index: 100000;
}

.logo{
  position: fixed;
  z-index:10000;
  top:20px;
  left:10px;
  width: 50px;
  height:50px;
  overflow: hidden;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: 100%;
    scale: 1.5;
    object-fit: cover;
  }
}
.mt-2{
  margin-top: 2em;
}
.mt-1{
  margin-top:1em;
}
.outer{
 height:max(400px, 70vh);
  max-width:1200px;
  width:90%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.outer-left{
  height: 100%;
  width: 50%;
  p{
    font-family: "Dancing Script", cursiv52;
    font-size:24px
  }
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items:start;
}
.outer-right{
  height: 100%;
  width: 50%;
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items:inherit;
}

.avtar{
  width:300px;
  height:300px;
  vertical-align: middle;
  img{
    border-radius:50%;
    width:100%;
    height:100%;
    object-fit: cover;
  }
}
.my-scrollbar {
  width:100%;
  height:100vh;
  overflow: auto;
}


// class for slids
.carousel-cell{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 120px !important;
}

.slid-container{
  height:30vh;
  padding:20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
  position: relative;
  // padding: 0 25px;
  .slid{
   width: 100px;
   height:100px;
   border-radius:5px;
   background:#fff;
   flex-shrink:0;
   transition:  box-shadow 0.5s linear;
   cursor: pointer;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  &__img{
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
   img{
    width: 100%;
    object-fit:cover;
   }
  }
  &__text{
    font-size:13px;
  }
  }
  .slid:hover{
    box-shadow: rgba(2, 231, 2, 0.3) 0px 0px 0px 3px;
  }
}


#container {
  background-color:grey;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  width:100vw;
  height:40vh;
}

.module{
  height:100%;
  display:flex;
}

.green{
  width:500px;
  background-color:green;
}

.yellow{
  width:1300px;
  background-color:yellow;
}

.purple{
  width:800px;
  background-color:purple;
}

.orange{
  width:800px;
  background-color:purple;
}

.blue{
  width:2100px;
  background-color:blue;
}

.red{
  width:900px;
  background-color:red;
}

.lets-connect{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  svg{
    max-width:350px;
  }
  &__des{
    position: absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    p{
      font-size: 23px;
      margin-bottom:0 !important;
      font-family:"Dancing Script", cursiv52;
    }
    h1{
      font-size: 40px;
      overflow: hidden;
      margin: 0;
      display: flex;
    }

  }
}

.footer-section{
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  background:rgb(241 241 241 / 40%);

  h1{
    margin-bottom: 1em;
  }
}

#path {
  fill: #fff; /* Initial fill color */
  cursor: pointer;
}


.resume-btn{
  display: flex;
  text-decoration: none;
  flex-wrap: nowrap;
  overflow: hidden;
  max-width: 117px;
  background:#0084ff;
  padding: 5px 10px;
  margin-top: 15px;
  border-radius: 20px;
  transition: box-shadow 0.5s ease-in-out;
  span{
    display: inline-flex;
    font-family: "Dancing Script", cursiv52 ;
    font-size: 18px;
    color:#fff;
    margin-right:5px;
   min-width:117px;
  //  animation:anim 8s linear infinite;
  }
}

.resume-btn:hover{
  box-shadow: rgba(2, 231, 2, 0.3) 0px 0px 0px 3px;
}

.link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:1200px;
  width:90%;
  margin:2.5em auto 1em auto;
  &__icon{
    min-width:200px;
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
  &__icon a{
    display: inline-block;
    max-width:20px;
  }
  &__icon svg-icon{
  color: #000;
  }
  &__email{
    cursor: pointer;
    border-bottom: 1px solid #000;
  }
}

// scroll-arrow animation css
.arrow-wrapper{
  display:flex;
  align-items: center;
  gap:20px;
}
.scroll-arrow{
  margin-top: 10px;
  display:flex;
  justify-content: center;
  align-items:center;
  border-radius: 20px;
  background: rgb(255, 254, 254);
  max-width: 120px;
  overflow: hidden;
  p{
    min-width:120px;
    font-size:20px;
    color:#111;
  }
}
#split-text .char{
    transform: translateY(10px);
}
.loader{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
   &__container{
    width: 80px;
    height:80px;
    img{
      width: 100%;
      height: 100%;
      object-fit:cover;
    }
   }
}


@media only screen and (max-width: 1024px) {
  .photos{
    width: 40vw;
    height: 40vw;
  }
  .heading , .other-head{
    font-size:2.8em;
  }
}


@media only screen and (max-width: 768px) {
  .left{
    width:100%;
  }
  .right{
    display: none;
  }
  .details{
    height:90vh;
  }
  .heading , .other-head{
    font-size:2.5em;
    text-align: center;
  }
  .outer{
    height:max(400px, 50vh);
  }
  .detailsWrapper{
    width:95%
  }

}
.mobile-view{
  display:none;
  height: 250px;
  margin-top:20px;
  border-radius:10px;
}
.mobile-view:last-child{
  margin-bottom:30px;
}
@media only screen and (max-width: 675px) {
.outer-left{
  width:100%;
}
.outer-right{
  display: none;
}
.mobile-view{
  display:block;
}
.link{
  flex-direction: column;
  gap: 25px;
  &__icon{
    min-width:150px;
  }
}

}


@media screen and (max-device-width:1000px) and (orientation: landscape) {
   .bg-image{
    display: none;
   }
   .heading , .other-head{
    font-size:2.5em;
    text-align: center;
  }
}

@media screen and (max-device-width:1400px) and (orientation: landscape) {
  .heading , .other-head{
   font-size:2.7em;
   text-align: center;
 }
}


