.box{
  height: 100vh;
  width:100%;
}
.first{
  background:pink;
}
.second{
//  background:salmon;
}
.square{
  width:150px;
  height: 150px;
  background-color:fuchsia;
}

.square2{
  width:150px;
  height: 150px;
  margin-top:300px;
  background-color:blue;
}
.red{
  background:red;
}
